{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %}Nouveau Sujet{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE({element: document.getElementById("id_message"), forceSync: true});
  </script>
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'home' %}">Forums</a></li>
	<li class="breadcrumb-item"><a href="{% url 'boards_topics' board.pk %}">{{ board.name }}</a></li>
	<li class="breadcrumb-item active">Nouveau Sujet</li>
{% endblock %}

{% block content %}
	<form method="post" novalidate>
	  {% csrf_token %}
	  {% include 'includes/form.html' %}
	  <button type="submit" class="btn btn-success">Post</button>
	</form>
{% endblock %}