Bonjour,

Quelqu'un a demandé la réinitialisation du mot de passe pour l'adresse {{ email }}.
Si vous êtes à l'origine de cette demande, veuillez cliquer sur le lien ci-dessous :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si vous aviez oublié votre nom d'utilisateur sur Fartotum : {{ user.username }}

Si le lien ci-dessus ne fonctionne pas, merci de le copier-coller dans une nouvelle fenêtre de votre navigateur.

Si vous n'êtes pas à l'origine de cette demande, vous n'avez rien à faire blablabla.

Merci,

L'équipe Fartotum