{% extends 'base_accounts.html' %}

{% block title %}Mot de passe mis à jour !{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Mot de passe mis à jour !</h3>
          <div class="alert alert-success" role="alert">
            Votre mot de passe a bien été mis à jour ! Vous pouvez maintenant vous connecter.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Revenir au menu</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}