{% extends 'base.html' %}

{% block title %}Modification du mot de passe réussie{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'password_change' %}">Modifier mot de passe</a></li>
  <li class="breadcrumb-item active">Réussite</li>
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>Modification effectuée !</strong> Votre mot de passe a bien été mis à jour !
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Revenir au menu principal</a>
{% endblock %}