{% extends 'base_accounts.html' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-4 col-md-6 col-sm-8">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Réinitialiser le mot de passe</h3>
					<p>Indiquer votre adresse e-mail pour recevoir un lien de réinitialisation</p>
					<form method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<button type="submit" class="btn btn-primary btn-block">Envoyer le lien</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}