{% extends 'base_accounts.html' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Réinitialiser votre mot de passe</h3>
          <p>Un email de changement de mot de passe vous a été envoyé. Si vous ne le trouvez pas, vérifiez votre dossier spam ou attendez quelques minutes.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Revenir à la page de connexion</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}